.document{
    font-family: Courier;
    font-size: 12pt;
    
}

p{
    line-height: 1;
}

a{
    text-decoration:none;
    color:black;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

textarea{
    height: 29.7cm;
    width:50%;
    margin-left:1%;
}
