.document{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    
}

a{
    text-decoration:none;
    color:black;
}

textarea{
    height: 29.7cm;
    width:50%;
    margin-left:1%;
}
